@font-face {
  font-family: 'Din';
  src: url(../fonts/DinCond/DINCond-Medium.otf);
}
@font-face {
  font-family: 'DinLight';
  src: url(../fonts/DinCond/DINCond-Light.otf);
}
body{
  width: 850px;
  margin: 0 auto;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Din';
}
/* HEADER */
.logo {
  width: 100%;
  background-image: url('../img/fondo-header.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 30px 0px 0px 0px;
  color: #000;
}
.LogoyTexto {
  display: block;
  width: 50%;
  margin: auto;
}
.LogoyTexto1 {
  margin-bottom: 20px;

}
#LogoHeader {
  margin: 0 auto;
  width: 285px;
}
.informacion {
  width: 100%;
  background-color: #009A90;
  background-size: cover;
}
.info {
  color: #FFF;
  padding: 12px 0px;
}
.info > div > p {
  font-size: 22px;
  margin: 0;
  line-height: 1;
}
.textoInfo {
  float:right;
  margin-left: 12px;
}
.textoInfo > p {
  font-size: 21px;
  margin: 0;
  line-height: 1;
}
.titulo {
  color: #FFF;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
.titulo > div > span {
  font-size: 32px;
}
.titulo > P {
  text-align: left;
  line-height: 1;
  font-size: 22px;
  margin: 0px 20px;
}
.titulo > div > p {
  line-height: 1;
  font-size: 24px;
  margin: 0px 0px;
  text-align: left;
}
.titulo > i {
  float: left;
}
.titulo > span {
  font-size: 30px;
  margin: 0px 10px
}
.cropimg{
  background-image: url('../img/foto-adeba.jpg');
  background-size: cover;
  width: 100%;
  height: 200px
}
#FotoAdeba {
  margin: 0px;
}
.cuadro {
  padding-right: 0px;
  padding-left: 0px;
}
.azul1 {
  background-color: #002681;
}
.azul2 {
  background-color: #03519A;
}
.azul3 {
  background-color: #009A90;
}
.px13 {
  top:10px;
}
.px20 {
  top:15px;
}
.px33 {
  top:17px;
  padding-left: 0px;
}
/* SECTION */
section {
  background-color: #EEE;
  font-size: 28px;
  padding-top: 30px;
}

.title {
  margin-left: 25px;
  color: #002681;
  width: 120px;
  line-height: 1;

}
.horario {
  margin-left: 25px;
  color: #555;
  width: 150px;
  line-height: 1;
  margin-bottom: 5px;
}
.textoSeccion {
  font-size: 18px;
  color: #555;
  margin-bottom: 0px;
}
.identar {
  margin-left: 28px;
  line-height: 1.1;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 10px solid #C5C5C6;
}
footer {
  background-color: #EEE;
}
.footerLeft {
  font-size: 34px;
  color: #FFF;
  text-align: center;
  padding: 17.5px 0px;
  margin: 0px;
}
.footerRight {
  text-align: center;
  font-size: 22px;
  line-height: 1;
  color: #FFF;
  padding: 20px 0px;
  margin-bottom: 0;
}
.container {
  width: 750px;
}
.noPadding {
  padding: 0px 0px 0px 27px;
}
.padding0 {
  padding: 0px;
}
strong {
  color:#333;
}
.Lugar {
  margin: 0 0 30px 200px;
}
.letraChica {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
  font-family: sans-serif;
  font-size: 13px;
}
.left {
  float : left;
}
.web {
  margin-top: 10px;
  margin-left: 55px;
}
.whatsapp {
  margin-top: 0px;
  margin-left: 35px;
}
.telefono {
  margin-left: 35px;
}
.email {
  margin-top: 5px;
  margin-left: 30px;
}
.direccion {
  margin-top: 10px;
  margin-left: 28px;
}
.arroba {
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
}
.fa-whatsapp {
  margin-top: 3px;
}
.fa-phone {
  margin-top: 22px;
}
.fa-at {
  margin-top: 10px;
}
.block {
	min-height: 83px;
	max-height: 83px;
}
.lightBlock {
	min-height: 45.600px;
	max-height: 45.600px;
}
.masInfo {
  margin-top: 15px;
}
a {
  color:#002681;
}
a:hover {
  color:#002681;
  text-decoration: none;
}
